@import 'tailwindcss';

:root {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: normal;
}

@theme {
    --color-grayscale: #e5e8eb;
    --color-dark: #1c0d0f;
    --color-lightPink: #f2e8e8;
    --color-darkPink: #964f52;
}
